* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainCon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #223a5f;
  min-height: 100vh;
  padding-bottom: 20px;
}
.headerSection {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 80vw;
  height: 145px;
}
.gameEl {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Bree Serif';
  margin-left: 13px;
  padding-bottom: 10px;
}
.txt {
  margin-bottom: 3px;
}
.scoreCon {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 10px 10px;
  width: 100px;
  height: 90%;
  border-radius: 15px;
  padding: 50px;
}
.scoreTxt {
  color: #223a5f;
  font-family: 'Bree Serif';
  padding-top: 60px;
  font-size: 25px;
}
.scoreNumTxt {
  font-family: 'Roboto';
  color: #223a5f;

  font-weight: bold;
  font-size: 35px;
  padding-bottom: 50px;
}
.choicesListCon {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}

.btnCon {
  display: flex;
  justify-content: flex-end;
  background-color: #223a5f;
}
.rulesBtn {
  background-color: #ffffff;
  color: #223a5f;
  font-family: 'Bree Serif';
  padding: 5px 15px 5px 15px;
  border: 0px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 20px 20px;
}
.resultImg {
  height: 140px;
  width: 140px;
  margin: 10px;
}
.resultsCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-weight: 500;
}
.resultsImgMainCon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.resultsImgCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.resultFinalTxt {
  color: #ffffff;
  font-family: 'Roboto';
}
.playAgainBtn {
  background-color: #ffffff;
  color: #223a5f;
  padding: 8px 20px 8px 20px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}
.resultsImgCon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playAgainCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.imgCon {
  height: 350px;
  width: 400px;
}
.rulesImg {
  height: 100%;
  width: 100%;
}
.closeBtnCon {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}
.trigger-button {
  padding: 2px;
  padding-bottom: 0px;
  margin-bottom: 4px;
}
.rules-button {
  margin: 30px;
  padding: 8px 15px 8px 15px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
}
